// Fonts 
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// Colors
$black: #1E1E1E;
$white: #ffffff;
$gray: #B5B5B5;

$gris-claro: #b0adad;
$gris-medio: #978282;
$gris-oscuro: #404040;
$gris-plateado: #C0C0C0;
$gris-acero: #757575;