.membership {
    position: relative;
    max-width: calc(900px - 4rem);
    min-height: 300px;
    margin: 0 auto;
    height: 350px;
    padding: 0 2rem;

    @media (width < 768px) {
        padding: 0 1rem;
        height: 340px;
        min-height: 340px;
    }

    img {
        filter: brightness(0.5); 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        padding: 0 1rem;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2rem);
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h3 {
            width: fit-content;
            color: $white;
            font-size: 2.4rem;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;

            @media (width < 768px) {
                font-size: 2rem;
            }
        }

        p {
            text-align: center;
            width: fit-content;
            color: $gray;
            font-size: .9rem;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
}