.products {
  max-width: calc(1140px - 4rem);
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width < 768px) {
    padding: 2rem 1rem;
  }

  .categories {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      color: $gris-claro;
      font-size: 1.1rem;
      font-weight: 600;
      font-family: $raleway;
      cursor: pointer;

      @media (width < 580px) {
        font-size: 1rem;
      }

      &.active {
        color: $black;
        cursor: initial;
        font-weight: 800;
      }

      &:hover {
        color: $black;
        font-weight: 800;
      }

      &.active::after {
        background-color: $black;
        content: "";
        position: absolute;
        bottom: -6px; /* Adjust the position of the underline */
        left: 50%;
        transform: translateX(-50%);
        width: 50%; /* Adjust the width of the underline */
        height: 3px; /* Adjust the thickness of the underline */
      }
    }
  }

  .grid {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    columns: 2 320px;

    img {
      max-width: 100%;
      margin-top: 20px;
    }
  }

  .btn {
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
